<div class="container">
  <div class="col-3-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Gain</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-slider color="primary" vertical [max]="1" [min]="0" [step]="0.1" [value]="0.5" (input)="onGainChange($event)" [thumb-label]="true"></mat-slider>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-3-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Frequency</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-slider color="primary" vertical [max]="650" [min]="50" [step]="1" [value]="440" (input)="onFrequencyChange($event)"
          [thumb-label]="true"></mat-slider>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-3-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Type</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-radio-group ngModel="sine" (ngModelChange)="onOscillatorTypeChange($event)">
          <mat-radio-button *ngFor="let type of oscillatorTypes" [value]="type">{{ type }}</mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-3-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Filter</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-slide-toggle (change)="onBiquadFilterToggle($event)"></mat-slide-toggle>
        <mat-slider color="primary" vertical [max]="2000" [min]="1" [step]="1" [value]="440" (input)="onBiquadFilterFrequencyChange($event)"
          [thumb-label]="true"></mat-slider>
        <mat-radio-group ngModel="allpass" (ngModelChange)="onBiquadFilterTypeChange($event)">
          <mat-radio-button *ngFor="let type of biquadFilterTypes" [value]="type">{{ type }}</mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-12-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Sound</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-slide-toggle [(ngModel)]="on"> {{ on ? 'On' : 'Off' }}</mat-slide-toggle>
      </mat-card-content>
    </mat-card>
  </div>
</div>
